<?php
# Global variables:

# IP address of UCS Director
$ucsd_ip = 'x.x.x.x';

# Admin API key - this is needed for authentication etc:
$ucsd_api_key = 'xxxxx';

# Replace with Smarty location:
require('/usr/share/php/smarty3/Smarty.class.php');

?>

